  <div class="content">
    <div class = "content-text">
      <h1 class = "content-text__time"> <%= display_place_arrival() %> </h1>
      <p class = "content-text__name"> <%= "#{@place.name}" %> </p>
      <p>タイトル</p>
      <p> <%= "#{@place.description}" %> </p>
    </div>
    <div class = "content-image">
      <%= image_tag "#{@place.image}", size: '400x250' %>
    </div>
  </div>