form{
    .address{
      width: 250px;
      margin-bottom: 10px;
    }
    .female{
      margin-bottom: 10px;
    }
    select{
      background-color: white;
      border-radius: 2px;
      width: 200px;
      height: 30px;
    }
    .submit{
      width: 185px;
      height: 40px;
      display: block;
      margin: 20px 0 0 auto;
      border-radius: 20px;
      border-style: none;
      background-color: #FD7821;
      color: white;
      font-weight: bold;
    }
  }
