.contents2{
  margin-top: 100px;
  .content{
    width: 60%;
    height: 160px;
    padding: 5px;
    margin: 20px auto;
    display: flex;
    justify-content: space-around;
    border-top: 1px solid rgba(0,0,0,0.12);
    border-bottom: 1px solid rgba(0,0,0,0.12);
    &__left{
      width: 30%;
      margin-right: 10px;
    }
    &__right{
      width: 70%;
      overflow: hidden;
      &__top{
        font-size: 20px;
        font-weight: bold;
      }
      &__address{
        height: 10%;
        color: gray;
        font-size: 13px;
      }
      &__description{
        height: 50%;
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
      }
      &__container{
        display: flex;
        justify-content: space-between;
        margin-top: 3px;
      &__link{
        width: 60%;
        height: 10%;
        a{
          text-decoration: none;
          color: gray;
        }
      }
      &__go{
        height: 10%;
        text-align: right;
        a{
          display: inline-block;
          text-align: center;
          border-radius: 20px;
          width: 100px;
          height: 25px;
          text-decoration: none;
          background-color: #FD7821;
          color: white;
        }
    }
  }
  }
}
}