// Place all the styles related to the places controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body{
  background-color: #f6f6f6;
  min-width: 650px;
  .header{
    height: 56px;
    width: 100%;
    padding: 0 150px;
    color: #fff;
    display: flex;
    justify-content: space-between;
    &__title{
      font-size: 30px;
      line-height: 56px;
      &--text{
        text-decoration: none;
        color: black;
      }
    }
    &__right{
      &--btn{
        text-decoration: none;
        line-height: 56px;
        color: black;
        margin-left:15px;
      }
    }
  }
  .contents{
    margin: 30px auto 0;
    background-color:#f6f6f6;
    height: 600px;
    width: 70%;
    overflow: scroll;
    form{
      .required{
        .address{
          width: 250px;
          margin-bottom: 10px;
        }
        .date{
          margin-bottom: 5px;
        }
        .time{
          margin-bottom: 10px;
        }
        .female{
          margin-bottom: 10px;
        }
        select{
          width: 70px;
          height: 30px;
        }
      }
      .free{
        .main-spot{
          width: 300px;
          margin-bottom: 10px;
        }
        select{
          width: 100px;
          height: 30px;
        }
      }
      .submit{
        height: 30px;
      }
    }
    .contents2{
      margin-top: 80px;
      .content{
        padding: 10px;
        border-bottom: 1px solid #f6f6f6;
        display: flex;
        &__left{
          padding-right: 20px;
        }
        &__right{
          width: calc(100%-100px);
          &__top{
            font-size: 20px;
            font-weight: bold;
            &--title{
              text-decoration: none;
              color: #000000;
            }
          }
          &__bottom{
            font-size: 15px;
            color: #999;
            display: flex;
            &--userName{
              &--btn{
                text-decoration: none;
                color: #999;
              }
            }
            &--date{
              margin-left: 20px;
            }
          }
        }
        &__title{
          font-size: 30px;
          font-weight: bold;
          padding-top: 30px;
          text-align: center;
        }
      }
    }
    
  }
 
}
