.postcontent{
  width: 60%;
  height: 160px;
  padding: 5px;
  margin: 20px auto;
  justify-content: space-around;
  border-top: 1px solid rgba(0,0,0,0.12);
  border-bottom: 1px solid rgba(0,0,0,0.12);
}
.postcontent__right__top{
  font-size: 20px;
  font-weight: bold;
}
.postcontent__right__text{
  
}
.postcontent__right__bottom{
.postcontent__right__bottom--date{
  color: gray;
}
}
