.search_result{
  margin-top: 50px;
  .search_post_head{
    width: 60%;
    margin: 0;
    margin: 0 auto;
    border-bottom: 1px solid rgba(0,0,0,0.12);
  }
.search_postcontent{
    width: 60%;
    padding: 5px;
    margin: 0 auto 40px;
    border-bottom: 1px solid rgba(0,0,0,0.12);
    .search_postcontent_place{
      display: flex;
      justify-content: space-around;
    .post_place_content{
        width:20%;
        .post_place_kind{
          margin: 0;
        }
        .post_place_title{
          margin: 0;
          overflow: hidden;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 1;
        }
      }
    }
    .comment_and_buttn{
      display: flex;
      justify-content: space-around;
    .plan_comment{
      width: 70%;
      overflow: hidden;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 3;
    }
    .use_plan_link{
      width: 20%;
      .use_plan_buttn{
        width: 150px;
        height: 25px;
        display: block;
        margin: 40px 0 0 auto;
        border-radius: 20px;
        border-style: none;
        text-decoration: none;
        background-color: #FD7821;
        color: white;
        font-weight: bold;
        text-align: center;
      }
    }
  }
}
}