.indivisual_form_container{
  margin-top: 100px;
.indivisual_search_form{
  width: 42%;
  margin: 0 auto;
#subForm{
  width: 185px;
  height: 40px;
  display: block;
  margin: 20px 0 0 auto;
  border-radius: 20px;
  border-style: none;
  background-color: #FD7821;
  color: white;
  font-weight: bold;
}
}
}