<nav>
    <ul class="main_menu">
        <li><a href="#"> 都道府県から探す</a>
            <ul>
                <li><a href="">大阪府</a>
                    <ul>
                        <li><a href="#">海遊館</a></li>
                        <li><a href="#">USJ</a></li>
                        <li><a href="#">大阪城</a></li>
                    </ul>
                </li>
                <li><a href="">京都府</a>
                    <ul>
                        <li><a href="#">孫メニュー</a></li>
                        <li><a href="#">孫メニュー</a></li>
                        <li><a href="#">孫メニュー</a></li>
                    </ul>
                </li>
                <li><a href="">兵庫県</a>
                    <ul>
                        <li><a href="#">孫メニュー</a></li>
                        <li><a href="#">孫メニュー</a></li>
                        <li><a href="#">孫メニュー</a></li>
                    </ul>
                </li>
            </ul>
        </li>
        <li><a href="#">種類から探す</a>
            <ul>
                <li><a href="">遊園地</a>
                    <ul>
                    <li><a href="#">USJ</a></li>
                    <li><a href="#">枚方パーク</a></li>
                    <li><a href="#">東京ディズニーランド</a></li>

                    </ul>
                </li>
                <li><a href="">動物園</a>
                    <ul>
                    <li><a href="#">孫メニュー</a></li>
                    <li><a href="#">孫メニュー</a></li>
                    <li><a href="#">孫メニュー</a></li>
                </li>
                    </ul>                        
                </li>
                <li><a href="">公園</a>
                    <ul>
                    <li><a href="#">孫メニュー</a></li>
                    <li><a href="#">孫メニュー</a></li>
                    <li><a href="#">孫メニュー</a></li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>
</nav>