<div class="copy-group">
  <div class="container-group">
    <p>
      <copy>Copyright© 2020 Transit Inc. All Rights Reserved.</copy><br>
      サイト内の文章、画像等の著作物はTransitに属します。文章・写真などの複製及び無断転載を禁じます。
    </p>
  </div>
</div>