<h3>お出かけの条件を入力してください(*は必須)</h3>
<form action="/places/searches">

  出発地<br>
  <input name="departure" type="text" class="address" placeholder="出発地の住所を入力してください" required /> *<br>
  お出かけの日時を入力してください<br>
  <input type="datetime-local" class="time" name="time1" required />〜 *<br>
  あなたの性別は？<br>
  <label>
    <input type="radio" name="RadioGroup1" value="20">男性
  </label>
  <label>
    <input type="radio" class="female" class name="RadioGroup1" value="21">女性
  </label><br>
  あなたの年代は？<br>
  <select name="age" >
    <option value="101">10代</option>
    <option value="102">20代</option>
    <option value="103">30代</option>
    <option value="104">40代</option>
    <option value="105">50代</option>
    <option value="106">60代以上</option>
  </select> *<br>
  食の好みはありますか？<br>
  <select name="lunch" id="select-food">
    <option value="ランチ">特になし</option>
    <option value="ラーメン">ラーメン</option>
    <option value="ランチ イタリアン">イタリアン</option>
    <option value="ランチ うどん そば">うどん・そば</option>
    <option value="ランチ カレー">カレー</option>
    <option value="ランチ ファミレス">ファミレス</option>
    <option value="ランチ 洋食">洋食</option>
    <option value="ランチ 寿司">寿司</option>
  </select> ランチ<br>
  <select name="food" id="select-food">
    <option value="ディナー">特になし</option>
    <option value="日本食">日本食</option>
    <option value="イタリアン">イタリアン</option>
    <option value="中華">中華</option>
    <option value="フランス料理">フランス料理</option>
    <option value="ラーメン">ラーメン</option>
    <option value="肉料理">肉料理</option>
  </select> ディナー<br>
  <div>
    <input type="submit" value="条件を送信する" class="submit">
  </div>
  <input type="hidden" name="placeid" value=<%="#{@place.id}"%>>
</form>